#navbar {
    background-color: #cfe2ff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.searchBar {
    width: 40%;
}

#content {
    
}
#posts-container a {
    text-decoration: none;
}

#footer {
    background-color: var(--bs-gray-200);
    /* position: sticky; */
    bottom: 0;
    left: 0;
    right: 0;
}