<footer class="py-2 mt-4">
	<ul class="nav justify-content-center border-bottom pb-2">
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-muted">Home</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-muted">Features</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-muted">Pricing</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-muted">FAQs</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-muted">About</a>
		</li>
	</ul>
	<ul class="nav col justify-content-center list-unstyled d-flex pb-2">
		<li class="ms-3">
			<a class="" href="#"><i class="fa-brands fa-twitter"></i></a>
		</li>
		<li class="ms-3">
			<a class="" href="#"><i class="fa-brands fa-instagram"></i></a>
		</li>
		<li class="ms-3">
			<a class="" href="#">
				<i class="fa-brands fa-facebook"></i>
			</a>
		</li>
	</ul>
	<p class="col d-flex justify-content-center text-muted">
		&copy; 2022 Company, pvt ltd
	</p>
</footer>
