<h1 class="text-center pt-2">Full Post</h1>
<div class="row" id="posts-container">
	<div class="col"></div>
	<div class="col-8 p-5 mx-5">
		<div class="card m-2">
			<div class="card-body" id="fullPost"></div>
			<div class="card-footer">
				<a href="#" class="card-link">Like</a>
				<a href="#" class="card-link">Comment</a>
				<a href="#" class="card-link">Share</a>
			</div>
		</div>
	</div>
	<div class="col"></div>
</div>
<div class="row pb-4">
	<div class="col-5"></div>
	<a
		href="#"
		type="button"
		id="goBack"
		class="btn btn-outline-primary col-2 p-3"
		style="font-size: 2rem"
		>Back</a
	>
	<div class="col-5"></div>
</div>
<script src="../app/viewFullPost.js"></script>
